SamplingRate=1
ConversionMode=0
NoOfSamples=20
NoOfInputs=4
# type=1 : (16 bit type) type=2 : (12 bit type)
ADCType=1
filename="/dev/i2c-1"
########## AIO1 Configuration############
address_1=0x49
CurDevResistance_1=198.0000
VolMultiplier_1=0.0314
ChannelType_1=1
offset_1=0x00
########## AIO2 Configuration############
address_2=0x49
CurDevResistance_2=198.0000
VolMultiplier_2=.0314550000
ChannelType_2=1
offset_2=0x00
########## AIO3 Configuration############
address_3=0x48
CurDevResistance_3=198.0000
VolMultiplier_3=0.0314
ChannelType_3=2
offset_3=0x00
########## AIO4 Configuration############
address_4=0x48
CurDevResistance_4=198.0000
VolMultiplier_4=.0000050000
ChannelType_4=2
offset_4=0x00
