openwrt/
build_log*.txt
*.log
*.txt
custom-feeds.conf
relysyspackages/Modbus_Package/files/etc/config/cloudconfig
relysyspackages/WithoutPseudo_Gateway_Software/files/etc/config/cloudconfig
relysyspackages/WithoutPseudo_Gateway_Software/files/root/AzureAppComponent/etc/Config/CloudConnectAzureIOTHubClient.cfg
