########## AIO1 Configuration############
AInput1Enable=1
AInput1MultiplicationFactor=1.000000
AInput1AlarmActiveState=1
AInput1UpperThreshold=100.000000
AInput1UpperHysteresis=20.000000
AInput1LowerThreshold=10.000000
AInput1LowerHysteresis=9.000000
AInput1TimeDependency=1
AInput1HolidayCheckStartTime="00:00:00"
AInput1HolidayCheckEndTime="00:00:00"
AInput1DayDependency=1
AInput1DayDependencyValue=0
AInput1UpperThresholdName="ThU1"
AInput1LowerThresholdName="ThL1"
AInput1LowerThresholdEnable=1
AInput1UpperThresholdEnable=1
AInput1NoOfSamples=20
AInput1Mode="Normal"
AInput1ClampEnable=0

########## AIO2 Configuration############
AInput2Enable=1
AInput2MultiplicationFactor=1.000000
AInput2AlarmActiveState=1
AInput2UpperThreshold=10.000000
AInput2UpperHysteresis=1.000000
AInput2LowerThreshold=2.000000
AInput2LowerHysteresis=0.000000
AInput2TimeDependency=1
AInput2HolidayCheckStartTime="00:00:00"
AInput2HolidayCheckEndTime="00:00:00"
AInput2DayDependency=1
AInput2DayDependencyValue=0
AInput2UpperThresholdName="gffhg"
AInput2LowerThresholdName="ghjjh"
AInput2LowerThresholdEnable=1
AInput2UpperThresholdEnable=1
AInput2NoOfSamples=20
AInput2Mode="Normal"
AInput2ClampEnable=0


########## AIO3 Configuration############
AInput3Enable=1
AInput3MultiplicationFactor=1.000000
AInput3AlarmActiveState=1
AInput3UpperThreshold=10.000000
AInput3UpperHysteresis=1.000000
AInput3LowerThreshold=2.000000
AInput3LowerHysteresis=0.000000
AInput3TimeDependency=1
AInput3HolidayCheckStartTime="00:00:00"
AInput3HolidayCheckEndTime="00:00:00"
AInput3DayDependency=1
AInput3DayDependencyValue=0
AInput3UpperThresholdName="gffhg"
AInput3LowerThresholdName="ghjjh"
AInput3LowerThresholdEnable=1
AInput3UpperThresholdEnable=1
AInput3NoOfSamples=20
AInput3Mode="Normal"
AInput3ClampEnable=0


########## AIO4 Configuration############
AInput4Enable=1
AInput4MultiplicationFactor=1.000000
AInput4AlarmActiveState=1
AInput4UpperThreshold=10.000000
AInput4UpperHysteresis=1.000000
AInput4LowerThreshold=2.000000
AInput4LowerHysteresis=0.000000
AInput4TimeDependency=1
AInput4HolidayCheckStartTime="00:00:00"
AInput4HolidayCheckEndTime="00:00:00"
AInput4DayDependency=1
AInput4DayDependencyValue=0
AInput4UpperThresholdName="gffhg"
AInput4LowerThresholdName="ghjjh"
AInput4LowerThresholdEnable=1
AInput4UpperThresholdEnable=1
AInput4NoOfSamples=20
AInput4Mode="Normal"
AInput4ClampEnable=0

AInputBurstMode=0
AInputNormalMode=1
NoOfAInput=4
ChannelType0=1
ChannelType1=1
ChannelType2=1
ChannelType3=1
