#Energy Meter 1
Model_1="Meter1"
EnergyMeterType_1=0
SlaveID_1=1
Baudrate_1=9600
Parity_1=0
Databits_1=8
Stopbits_1=1
InterfaceID_1=1
MeterID_1=1
SerialPort_1="/dev/ttyS1"
stdModbusEnable_1=1
CommType_1=1
CommIP_1="0.0.0.0"
CommPort_1=0
CommTimeout_1=0

#Energy Meter 2
Model_2="sdasd"
EnergyMeterType_2=0
SlaveID_2=2
Baudrate_2=9600
Parity_2=0
Databits_2=7
Stopbits_2=1
InterfaceID_2=1
MeterID_2=1
SerialPort_2="/dev/ttyS1"
stdModbusEnable_2=1
CommType_2=1
CommIP_2="0.0.0.0"
CommPort_2=0
CommTimeout_2=0


DeviceName_1="Device3"
DeviceName_2="Device4"
Protocol_1="RTU"
Protocol_2="RTU"

#Number of meters to read
NoOfDevices=2
NoOfEMetersInLine1=2
NoOfUniqueEMetersInLine1=2
MaxNoOfRetries=3
SleepRetries=10

