########## AIO1 Configuration############
AInput1SamplingRate=1
AInput1ConversionMode=0
AInput1InputRange=2
AInput1ChannelNumber=1
AInput1CurDevResistance=198.0000
AInput1offset=0x00
AInput1VolMultiplier=0.0314
AInput1PinNumber=506
########## AIO2 Configuration############
AInput2SamplingRate=1
AInput2ConversionMode=0
AInput2InputRange=2
AInput2ChannelNumber=2
AInput2CurDevResistance=198.0000
AInput2offset=0x00
AInput2VolMultiplier=.0314550000
########## AIO3 Configuration############
AInput3SamplingRate=1
AInput3ConversionMode=0
AInput3InputRange=2
AInput3ChannelNumber=2
AInput3CurDevResistance=198.0000
AInput3offset=0x00
AInput3VolMultiplier=.0314550000
########## AIO4 Configuration############
AInput4SamplingRate=1
AInput4ConversionMode=0
AInput4InputRange=2
AInput4ChannelNumber=2
AInput4CurDevResistance=198.0000
AInput4offset=0x00
AInput4VolMultiplier=.0314550000
