########## AIO1 Configuration############
AInput1Enable=1
AInput1MultiplicationFactorEnable=1
AInput1MultiplicationFactor=1.0
AInput1AlarmActiveState=0
AInput1UpperThreshold=16
AInput1UpperHysteresis=0.5
AInput1LowerThreshold=4
AInput1LowerHysteresis=0.5
AInput1HolidayCheckStartTime=""
AInput1HolidayCheckEndTime=""
AInput1NoOfSamples=20


########## AIO2 Configuration############
AInput2Enable=1
AInput2MultiplicationFactorEnable=1
AInput2MultiplicationFactor=1.0
AInput2AlarmActiveState=0
AInput2UpperThreshold=16
AInput2UpperHysteresis=0.5
AInput2LowerThreshold=4
AInput2LowerHysteresis=0.5
AInput2HolidayCheckStartTime=""
AInput2HolidayCheckEndTime=""
AInput2NoOfSamples=20

########## AIO3 Configuration############
AInput3Enable=1
AInput3MultiplicationFactorEnable=1
AInput3MultiplicationFactor=1.0
AInput3AlarmActiveState=0
AInput3UpperThreshold=16
AInput3UpperHysteresis=0.5
AInput3LowerThreshold=4
AInput3LowerHysteresis=0.5
AInput3HolidayCheckStartTime=""
AInput3HolidayCheckEndTime=""
AInput3NoOfSamples=20

########## AIO4 Configuration############
AInput4Enable=1
AInput4MultiplicationFactorEnable=1
AInput4MultiplicationFactor=1.0
AInput4AlarmActiveState=0
AInput4UpperThreshold=16
AInput4UpperHysteresis=0.5
AInput4LowerThreshold=4
AInput4LowerHysteresis=0.5
AInput4HolidayCheckStartTime=""
AInput4HolidayCheckEndTime=""
AInput4NoOfSamples=20


NoOfAInput=4
AInputBurstMode=0
AInputNormalMode=1
