#########################################################################################################
#This file contains Custom database parameters. 
#Record Type -0 (Periodic) , 1- (Request--Internal/External)
#Response Code : 99 - Default Code
#TxStatus : 255-Sent Successfully to Server) , 0- Pending /Unsuccessful
#######################################################################################################
DatabaseName=/reap/disk/AppData/P500/RouterAudit/Db/RouterAuditDB.db
RecordNumber=INTEGER
ReadTimestamp=TEXT
Source=TEXT
Facility=TEXT
Level=TEXT
PID=INTEGER
OriginalMessage=TEXT
