########## DIO1 Configuration############
DInput1Enable=1
DIOMode1=1
DInput1AlarmActiveState=0
DInput1AlarmActiveFilterTimeInMilliSeconds=0
DInput1AlarmDeActiveFilterTimeInMilliSeconds=0
DInput1TimeDependency=1
DInput1AlarmStartTime="00:00:00"
DInput1AlarmStopTime="00:00:00"
DInput1MaskValue=0
DInput1AlarmSetNotifyVal=0
DInput1AlarmResetNotifyVal=0

########## DIO2 Configuration############
DInput2Enable=1
DIOMode2=0
DInput2AlarmActiveState=0
DInput2AlarmActiveFilterTimeInMilliSeconds=0
DInput2AlarmDeActiveFilterTimeInMilliSeconds=0
DInput2TimeDependency=0
DInput2AlarmStartTime="00:00:00"
DInput2AlarmStopTime="00:00:00"
DInput2MaskValue=0
DInput2AlarmSetNotifyVal=0
DInput2AlarmResetNotifyVal=0

########## DIO3 Configuration############
DInput3Enable=1
DIOMode3=0
DInput3AlarmActiveState=0
DInput3AlarmActiveFilterTimeInMilliSeconds=0
DInput3AlarmDeActiveFilterTimeInMilliSeconds=0
DInput3TimeDependency=0
DInput3AlarmStartTime="00:00:00"
DInput3AlarmStopTime="00:00:00"
DInput3MaskValue=0
DInput3AlarmSetNotifyVal=0
DInput3AlarmResetNotifyVal=0

########## DIO4 Configuration############
DInput4Enable=1
DIOMode4=1
DInput4AlarmActiveState=0
DInput4AlarmActiveFilterTimeInMilliSeconds=0
DInput4AlarmDeActiveFilterTimeInMilliSeconds=0
DInput4TimeDependency=0
DInput4AlarmStartTime="00:00:00"
DInput4AlarmStopTime="00:00:00"
DInput4MaskValue=0
DInput4AlarmSetNotifyVal=0
DInput4AlarmResetNotifyVal=0

