########## AIO1 Configuration############
AInput1SamplingRate=1
AInput1ConversionMode=0
AInput1InputRange=2
AInput1ChannelNumber=1
AInput1CurDevResistance=198.0000
AInput1offset=0x00
AInput1VolMultiplier=0.0314
########## AIO2 Configuration############
AInput2SamplingRate=1
AInput2ConversionMode=0
AInput2InputRange=2
AInput2ChannelNumber=2
AInput2CurDevResistance=198.0000
AInput2offset=0x00
AInput2VolMultiplier=.0314550000
