########## AIO1 Configuration############
AInput1Enable=1
AInput1MultiplicationFactorEnable=1
AInput1MultiplicationFactor=1.0
AInput1AlarmActiveState=0
AInput1UpperThreshold=16
AInput1UpperHysteresis=0.5
AInput1LowerThreshold=4
AInput1LowerHysteresis=0.5
AInput1HolidayCheckStartTime=""
AInput1HolidayCheckEndTime=""
AInput1NoOfSamples=20


########## AIO2 Configuration############
AInput2Enable=1
AInput2MultiplicationFactorEnable=1
AInput2MultiplicationFactor=1.0
AInput2AlarmActiveState=0
AInput2UpperThreshold=16
AInput2UpperHysteresis=0.5
AInput2LowerThreshold=4
AInput2LowerHysteresis=0.5
AInput2HolidayCheckStartTime=""
AInput2HolidayCheckEndTime=""
AInput2NoOfSamples=20


NoOfAInput=2
AInputBurstMode=0
AInputNormalMode=1
