<div style="border-bottom: 1px solid #70707038">
    <h1 class="header">Routes</h1>
</div>
<div class="pagecontent">
    <div id="Routes-Info"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">IPv4 - Routes</h3>
        </div>
        <div id="route_table"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">IPv6 - Routes</h3>
        </div>
        <div id="ipv4_table"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">IPv4 - Neighbours</h3>
        </div>
        <div id="route6_table"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">IPv6 - Neighbours</h3>
        </div>
        <div id="ipv6_table"></div>
    </div>

    <div id="ipv4_table"></div>
    <div id="route6_table"></div>
    <div id="ipv6_table"></div>
</div>

<style>
	#Routes-Info {
		margin: -30px 0px -2px 0px;
	}
</style>