<div style="border-bottom: 1px solid #70707038">
	<h1 class="header">WAN Status</h1>
</div>
<div class="pagecontent">
	<div class="refresh-icon" title="Refresh" tabindex="0" id="WANRefresh-btn">
		<img src="/luci2/icons/refresh-icon.svg" alt="Refresh icon" />
	</div>
	<div id="WAN-Note"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">WAN Overview</h3>
		</div>
		<div id="section_firewall_port"></div>
	</div>
</div>

<style>
	#WAN-Note {
		margin: -30px 0px -2px 0px;
	}
</style>